################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Debug
/Release
/Speedy E.e424a3cb
/x64
/IMAGE08
/IMAGE16
/SOUND
/MOVIE
/DATA
Speedy Eggbert 2 Source.vcxproj.user